# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class
*.log
*.gz

logs/

# Operating system files
.DS_Store
Thumbs.db

# Environment files
.env
logs/*.gz

# SSH Keys
*.pem

# .NET Core build folders
src/microservices/ImageFilteringMicroservice/[Bb]in/
src/microservices/ImageFilteringMicroservice/[Oo]bj/

# Visual Studio cache
src/microservices/.vs/

# local uploads
uploads/